{:api-key "unlock this door!"

 :allowed-origins ["http://localhost:3000"]

 :db {:engine :postgres
      :username "zanmi"
      :password "zanmi-password"
      :host "localhost"
      :db-name "zanmi_dev"}

 :http {:port 8686}

 :logger {:level :info
          :path "log/zanmi.log"
          :pattern :daily}

 :profile-schema {:username-length 32
                  :password-length 64
                  :password-score 3}

 :signer {:alg :ps512
          :keypair {:public  "dev/resources/keypair/pub.pem"
                    :private "dev/resources/keypair/priv.pem"}
          :auth-exp 24
          :reset-exp 1}}
